@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1:Verdana, Geneva, Tahoma, sans-serif;
    --fonte2:"Passion One", sans-serif;
    --fonte3:'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;

}
html,body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    
    
}
header > h1{
    padding: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;
}
header > p{
    padding-bottom:50px ;
}
header a, footer a {
    color: white;
    text-decoration:none ;
    font-weight: bolder;
}
header a:hover,footer a:hover{
    text-decoration:underline ;
}
section{
    padding-bottom: 10vh;
    padding-top: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 4.5vw;
}
section.normal{
    background-color: white;
    color: black;
    font-family: var(--fonte3);
}
section > p {
    padding: 1em;
}
section.imagem{
    background-color:rgb(80, 72, 72);
    color: white;
    font-family: var(--fonte3);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.534);
    background-attachment: fixed;

}
section#ima01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
   
}
section#ima02{
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
}
section.imagem > p{
    background-color: rgba(54, 49, 49, 0.212);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;

}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding:10px;
}
